* {
  box-sizing: border-box;
}

html {
  font: 1.2em/1.4 "Dosis", sans-serif;
}

body {
  padding: 0 0 1em;
}

header {
  background-color: white;
  border: 5px;
}

header div {
  background-position: center;
  color: #cabdb8;
  font-size: 1.5em;
}
article {
  color: #b1a8a593;
}

.logo-container {
  padding: 0rem 4rem;
}

.logo {
  background-image: url(/Users/paulapr./PycharmProjects/front_end_projektas/img/Instagram-Pink-Logo-PNG.png);
  background-size: cover;
  object-position: center;
  height: 3rem;
  width: 3rem;
  margin: 0;
  padding: 0;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header a {
  color: #cabdb8;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  /* border-top: 1px solid #999; */
}

header a:hover {
  color: #0ff1ce;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  /* border-top: 1px solid #999; */
}

header .title {
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  padding: 1em;
}

main {
  padding: 0 1em;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li div div {
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.cards .first {
  background-image: url(/Users/paulapr./PycharmProjects/front_end_projektas/img/IMG_1879.jpeg);
}

.cards .second {
  background-image: url(/Users/paulapr./PycharmProjects/front_end_projektas/img/sausekai.jpeg);
}
.cards .third {
  background-image: url(/Users/paulapr./PycharmProjects/front_end_projektas/img/caramelchococake.jpeg);
}

.cards .fourth {
  background-image: url(/Users/paulapr./PycharmProjects/front_end_projektas/img/Beetrootbrownie.jpeg);
}

.cards .fifth {
  background-image: url(/Users/paulapr./PycharmProjects/front_end_projektas/img/applepie.jpeg);
}

.cards .sixth {
  background-image: url(/Users/paulapr./PycharmProjects/front_end_projektas/img/chocolatechipcookies.jpeg);
}

.cards li {
  margin-bottom: 1em;
}

.cards h2 {
  background-color: #cabdb8;
  color: #fff;
  margin: 0;
  padding: 0;
  padding: 0.5em 1em;
}

.sidebar {
  background-color: #cabdb8;
  border: 5px solid;
  padding: 0.5em 1em;
  color: #fff;
  display: block;
}

.sidebar ol {
  list-style: none;
  margin: 0;
  top: 10em;
  padding: 1em 1em;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 1em 1em;
}

.sidebar a:hover {
  color: #0ff1ce;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  background-color: #cabdb8;
  color: #fff;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header ul {
    display: flex;
  }

  header a {
    border-top: none;
  }

  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin-top: 20px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  ul li div div{
    background-size: cover;
  }

  .sidebar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}

  @media screen and (min-width: 1281px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    header ul {
      display: flex;
    }
  
    header a {
      border-top: none;
    }
  
    main {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 20px;
      margin-top: 20px;
    }
  
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }
    ul li div div{
      background-size: cover;
    }
  
    .sidebar {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
    }
  }